<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static',filename='global.css') }}" />
{#    <link rel="stylesheet" href="./global.css" />#}
{#    <link rel="stylesheet" href="./index.css" />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"#}
{#    />#}
  </head>
  <body>
    <div class="frame">
      <section class="divbackground"></section>
      <section class="divhero-sectionmargin">
        <div class="divhero-section">
          <div class="divhero-section-child"></div>
          <div class="divhero-text-container-new">
            <div class="heading-1margin">
              <div class="heading-1">
                <h1 class="stock-analyser-using-container">
                  <span class="stock-analyser-using-container1">
                    <p class="stock-analyser-">Stock Analyser-</p>
                    <p class="stock-analyser-">Using Generative AI</p>
                  </span>
                </h1>
              </div>
            </div>
            <div class="divdiv-block-131-copy"></div>
          </div>
          <div class="div-45ch">
            <div class="cutting-edge-technology">
              Cutting edge technology at your fingertips 🤌
            </div>
          </div>
          <button class="features">Features</button>
          <button class="sign-in">Sign in</button>
          <button class="register">Register</button>
          <button class="pricing">Pricing</button>
          <button class="about-us">About Us</button>
          <div class="divdiv-block-33-copy">
            <button class="mask-group-parent">
              <div class="mask-group">
                <div class="card-back">
                  <img
                    class="card-surface-icon"
                    alt=""
                    src="./public/card-surface.svg"
                  />

                  <h2 class="get-analysis">Get Analysis</h2>
                </div>
              </div>
              <img
                class="mask-group-icon"
                alt=""
                src="./public/mask-group@2x.png"
              />
            </button>
            <div class="divdiv-block-33-copy-inner">
              <button class="mask-group-group">
                <div class="mask-group1">
                  <div class="card-back1">
                    <img
                      class="card-surface-icon"
                      alt=""
                      src="./public/card-surface1.svg"
                    />

                    <h2 class="get-analysis">Get Analysis</h2>
                  </div>
                </div>
                <img
                  class="mask-group-icon1"
                  alt=""
                  src="./public/mask-group1@2x.png"
                />
              </button>
            </div>
            <div class="divdiv-block-33-copy-child">
              <button class="mask-group-group">
                <div class="mask-group">
                  <div class="card-back">
                    <img
                      class="card-surface-icon"
                      alt=""
                      src="./public/card-surface2.svg"
                    />

                    <b class="get-analysis2">Get Analysis</b>
                  </div>
                </div>
                <img
                  class="mask-group-icon1"
                  alt=""
                  src="./public/mask-group2@2x.png"
                />
              </button>
            </div>
          </div>
          <h3 class="meta">META</h3>
          <div class="divdiv-block-1349margin">
            <div class="divform-block-12">
              <div class="divemail-form-2">
                <div class="input">
                  <input class="divplaceholder" type="text" />
                </div>
                <button class="divbutton-ai-search-copy">
                  <div class="div-wrapper">
                    <div class="div">
                      <div class="generate-analysis">Generate Analysis</div>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <h3 class="company-2">COMPANY 2</h3>
          <h3 class="company-3">COMPANY 3</h3>
          <h3 class="stock-analyser">Stock Analyser</h3>
        </div>
      </section>
    </div>
  </body>
</html>
