<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
{#      {% url_for('static', filename='./global1.css') %}#}
{#            {% url_for('static', filename='./index1.css') %}#}
    <link rel="stylesheet" href="{{ url_for('static',filename='global1.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='index1.css') }}" />
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"#}
{#    />#}
  </head>
  <body>
    <div class="page-2-parent">
      <div class="page-2"></div>
      <div class="stock-analyser" id="stockAnalyser"></div>
      <button class="stock-analyser1">Stock Analyser</button>
      <img class="frame-child" alt="" src="./public/rectangle-3.svg" />


      <div class="key-ratios">Key Ratios
            <div>
                {% for item in ans.keys() %}
                <ul>
                    <li class=" dev">{{ item }} : {{ ans[item] }}</li>
                </ul>
                {% endfor %}
            </div>
      </div>
      <img class="frame-item" alt="" src="./public/rectangle-6.svg" />

      <div class="ask-questions">Ask Questions
          <p>{{ answer }}</p>
      </div>

      <div class="frame-inner"></div>
      <img class="line-icon" alt="" src="./public/line-2.svg" />

      <div class="rectangle-parent">
        <img class="group-child" alt="" src="./public/rectangle-5@2x.png" />

        <div class="meta">META</div>
      </div>


      <form action="#" method="POST" class="frame">
        <input class="divemail-form-2" type="text" name="question", placeholder="Ask a question">
          <button  class="send-4" type="submit"></button>
      </form>

    </div>

    <script>
      var stockAnalyser = document.getElementById("stockAnalyser");
      if (stockAnalyser) {
        stockAnalyser.addEventListener("click", function (e) {
          // Please sync "HOME" to the project
        });
      }
      </script>
  </body>
</html>
