body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --wwwuseblackboxio-inter-regular-20: Inter;

  /* font sizes */
  --wwwuseblackboxio-inter-regular-20-size: 20px;
  --wwwuseblackboxio-inter-medium-40-size: 40px;

  /* Colors */
  --color-gray-100: #0e0000;
  --wwwuseblackboxio-perano-47: rgba(159, 191, 239, 0.47);
  --wwwuseblackboxio-dusty-gray: #999;
  --color-white: #fff;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-10xl: 29px;
  --padding-22xl: 41px;
  --padding-6xs: 7px;
  --padding-smi: 13px;
  --padding-12xs: 1px;

  /* Border radiuses */
  --br-31xl: 50px;
}
