.divbackground {
  position: absolute;
  height: 6.59%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 93.41%;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #232e4e 23%,
    rgba(105, 120, 182, 0) 55%
  );
  overflow: hidden;
}
.divhero-section-child {
  position: absolute;
  top: 0.5px;
  left: 0;
  background: linear-gradient(180deg, #000, rgba(19, 36, 104, 0.32));
  width: 1440px;
  height: 75px;
}
.stock-analyser- {
  margin: 0;
}
.stock-analyser-using-container1 {
  line-break: anywhere;
  width: 100%;
}
.stock-analyser-using-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 88px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 1036px;
  height: 176px;
  flex-shrink: 0;
}
.heading-1,
.heading-1margin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 671.7880249023438px;
}
.heading-1 {
  width: 671.79px;
  height: 161px;
  align-items: center;
  padding: 0 50.2900390625px 0 50.489990234375px;
}
.heading-1margin {
  position: absolute;
  top: 54px;
  left: 0;
  height: 108px;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.divdiv-block-131-copy {
  position: absolute;
  top: 178px;
  left: calc(50% - 221px);
}
.divhero-text-container-new {
  position: absolute;
  top: 48.5px;
  left: calc(50% - 317px);
  width: 998px;
  height: 54px;
  text-align: center;
  font-size: 80px;
}
.cutting-edge-technology {
  position: relative;
  line-height: 20.8px;
  font-weight: 300;
}
.div-45ch {
  position: absolute;
  width: calc(100% - 998.19px);
  top: 377.5px;
  right: 528.19px;
  left: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 13.299991607666016px 0 13.510005950927734px;
  box-sizing: border-box;
  max-width: 441.81298828125px;
  text-align: center;
  font-size: var(--wwwuseblackboxio-inter-light-16-size);
  color: var(--wwwuseblackboxio-heather);
}
.features,
.sign-in {
  position: absolute;
  overflow: hidden;
}
.features {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 23.5px;
  left: 746px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.25px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--wwwuseblackboxio-inter-light-16);
  color: var(--color-snow);
  text-align: left;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sign-in {
  top: 22.5px;
  left: 1215px;
}
.pricing,
.register,
.sign-in {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-xl);
  letter-spacing: 0.25px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--wwwuseblackboxio-inter-light-16);
  color: var(--color-snow);
  text-align: left;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.register {
  position: absolute;
  top: 22.5px;
  left: 1336px;
  overflow: hidden;
}
.pricing {
  top: 24.5px;
  left: 623px;
}
.about-us,
.card-surface-icon,
.pricing {
  position: absolute;
  overflow: hidden;
}
.about-us {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 24.5px;
  left: 477px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.25px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--wwwuseblackboxio-inter-light-16);
  color: var(--color-snow);
  text-align: left;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-surface-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  max-width: 100%;
  max-height: 100%;
}
.get-analysis {
  margin: 0;
  position: absolute;
  top: 43.78%;
  left: 28.66%;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: var(--font-lato);
  color: var(--color-aliceblue);
  text-align: center;
}
.card-back {
  position: absolute;
  top: 0;
  left: 670px;
  background-color: var(--wwwuseblackboxio-nero);
  width: 335px;
  height: 185px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.mask-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  bottom: 0;
  left: -100%;
  display: none;
}
.mask-group-icon {
  position: absolute;
  height: 104.32%;
  width: 102.39%;
  top: 0;
  right: -1.19%;
  bottom: -4.32%;
  left: -1.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-back1,
.mask-group-parent {
  position: absolute;
  width: 335px;
  height: 185px;
}
.mask-group-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 57.91px;
  left: 10px;
}
.card-back1 {
  top: 0;
  left: 335px;
  background-color: var(--wwwuseblackboxio-nero);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.mask-group-icon1,
.mask-group1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mask-group1 {
  display: none;
}
.mask-group-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mask-group-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 335px;
  height: 185px;
}
.divdiv-block-33-copy-inner {
  position: absolute;
  top: 47.91px;
  left: 442px;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.get-analysis2 {
  position: absolute;
  top: 43.78%;
  left: 28.66%;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  font-family: var(--font-lato);
  color: var(--color-aliceblue);
  text-align: center;
}
.divdiv-block-33-copy-child {
  position: absolute;
  top: 47.91px;
  left: 884px;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.divdiv-block-33-copy {
  position: absolute;
  top: 654.5px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 270px;
}
.meta {
  margin: 0;
  position: absolute;
  top: 638.5px;
  left: 273px;
  font-size: inherit;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
}
.divplaceholder,
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divplaceholder {
  border: 0;
  font-family: var(--wwwuseblackboxio-inter-light-16);
  font-size: var(--font-size-xl);
  background-color: transparent;
  align-self: stretch;
  overflow: hidden;
  padding: 0 581px 0 0;
}
.input {
  flex: 1;
  height: 38px;
  padding: var(--padding-6xs) 13px var(--padding-6xs) 1px;
  box-sizing: border-box;
}
.generate-analysis {
  position: relative;
  font-size: var(--wwwuseblackboxio-inter-light-16-size);
  line-height: 20px;
  font-family: var(--wwwuseblackboxio-inter-light-16);
  color: var(--wwwuseblackboxio-nero);
  text-align: left;
}
.div,
.div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-wrapper {
  align-items: center;
  justify-content: center;
}
.divbutton-ai-search-copy,
.divemail-form-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divbutton-ai-search-copy {
  cursor: pointer;
  border: 2px solid #0082ff;
  padding: var(--padding-3xs) 16px;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset;
  box-sizing: border-box;
  width: 217px;
  justify-content: center;
}
.divemail-form-2 {
  align-self: stretch;
  flex: 1;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(159, 191, 239, 0.15) 51%,
    rgba(159, 191, 239, 0.03)
  );
  box-shadow: 32px -24px 50px rgba(0, 0, 0, 0.5),
    0 0 100px rgba(87, 128, 226, 0.7), 0 2px 18px rgba(112, 153, 251, 0.5);
  border: 1px solid var(--wwwuseblackboxio-perano-47);
  justify-content: flex-start;
  padding: var(--padding-2xl) 29px var(--padding-2xl) 41px;
  gap: 12px;
}
.divdiv-block-1349margin,
.divform-block-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divform-block-12 {
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.91);
  flex-direction: row;
}
.divdiv-block-1349margin {
  position: absolute;
  top: 422.5px;
  left: 180px;
  width: 1080px;
  flex-direction: column;
  padding: 70px 0 32px;
  box-sizing: border-box;
  max-width: 1080px;
}
.company-2,
.company-3,
.stock-analyser {
  margin: 0;
  position: absolute;
  top: 638.5px;
  left: 670px;
  font-size: inherit;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
}
.company-3,
.stock-analyser {
  left: 1112px;
}
.stock-analyser {
  top: 22.5px;
  left: 10px;
  font-size: 30px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-snow);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.divhero-section {
  align-self: stretch;
  position: relative;
  background: linear-gradient(
    180deg,
    #1a34be,
    rgba(22, 28, 56, 0) 36.75%,
    rgba(9, 33, 168, 0.78)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 1079px;
  overflow: hidden;
  flex-shrink: 0;
}
.divhero-sectionmargin {
  position: absolute;
  width: 100%;
  top: 1px;
  right: 0;
  left: 0;
  height: 1079px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--wwwuseblackboxio-nero);
  font-family: var(--wwwuseblackboxio-inter-light-16);
}
.frame {
  position: relative;
  background-color: var(--wwwuseblackboxio-blue-charcoal);
  width: 100%;
  height: 1080px;
}
